@font-face {
    font-family: Figtree-Italic;
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf);

}

@font-face {
    font-family: figtreevariable;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    background-color: hsl(47, 88%, 63%);
}

.card {
    width: 350px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin: auto;
    border-radius: 5%;
    box-shadow: 5px 10px;
    border-color: black;
    border-width: 20px;
    border: 1px solid black;
    max-width: 500px;
}

#image {
    width: 300px;
    height: auto;
    display: block;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-clip: padding-box;
}

.text {
    text-align: center ;
}

#learning {
    background-color: hsl(47, 88%, 63%);
    text-align: left;
    width:72px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 8px;
    margin-left: 25px;
    display: inline-block;
    font-family: figtreevariable;
}

#published {
    text-align: left;
    margin-left: 25px;
}

h1 {
    font-size: 150%;
    text-align: left;
    margin-left: 20px;
    font-family: figtreevariable;
}

#description {
    color: grey;
    text-align: left;
    margin-left: 25px;
    font-family: figtreevariable;
}

#heading {
    text-align: left;
    padding-left: 5px;
}

#heading:hover {
    color: hsl(47, 88%, 63%);
}

.avatar-name {
    display: grid;
    align-items: center; 
    grid-template-columns: 0fr 2fr 2fr;
    column-gap: 5px;
}

#name {
    display: inline-block;
    vertical-align: middle;
    font-family: figtreevariable;
    
}

#avatar {
    width: 35px;
    height: 35px;
    margin-left: 25px;
}